<a href="https://colab.research.google.com/github/Akifhossain29/ML-lab/blob/main/pandas_part2_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
# Read a CSV file named "weather_data.csv"
# Additional parameter: parse_dates=["day"] tells pandas
# to convert the 'day' column to proper datetime objects.
# This makes date-based operations (filtering, grouping, etc.) easier.
df = pd.read_csv("weather_data.csv", parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
print(df.dtypes)

day            datetime64[ns]
temperature           float64
windspeed             float64
event                  object
dtype: object

In [ ]:
df.set_index('day', inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [ ]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10',
               '2017-01-11'],
              dtype='datetime64[ns]', name='day', freq=None)

In [ ]:
df.reset_index(inplace=True)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [ ]:
df.isna().sum() #df.isnull().sum()

day            0
temperature    4
windspeed      4
event          2
dtype: int64

In [ ]:
df.fillna(0,inplace=True)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
df.replace(0,np.nan,inplace=True)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
df_original=df.copy()
df.fillna({
    'temperature':0,
    'windspeed':1,
    'event':'no event'
},inplace=True)
df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-04          0.0        9.0     Sunny
2 2017-01-05         28.0        1.0      Snow
3 2017-01-06          0.0        7.0  no event
4 2017-01-07         32.0        1.0      Rain
5 2017-01-08          0.0        1.0     Sunny
6 2017-01-09          0.0        1.0  no event
7 2017-01-10         34.0        8.0    Cloudy
8 2017-01-11         40.0       12.0     Sunny

In [ ]:
df=df_original
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [ ]:
df.temperature=pd.Series([np.nan,6,7,3,np.nan,np.nan,1,2,3])
df

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

In [ ]:
df_ffill= df.ffill()
print(df)
print(df_ffill)

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny
         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        9.0    Snow
3 2017-01-06          3.0        7.0    Snow
4 2017-01-07          3.0        7.0    Rain
5 2017-01-08          3.0        7.0   Sunny
6 2017-01-09          1.0        7.0   Sunny
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

In [ ]:
df_ffill_l1= df.ffill(limit=1)
print(df)
print(df_ffill_l1)

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny
         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        9.0    Snow
3 2017-01-06          3.0        7.0    Snow
4 2017-01-07          3.0        7.0    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN   Sunny
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

In [ ]:
#Time interpolation uses the DatetimeIndex
# It accounts for actual time gaps between observations.
# Only works properly if your index is datetime.
df_day=df.set_index('day')
df_interp_time= df_day.infer_objects(copy=False)#df_day.interpolate(method="time")
print(df)
df_interp_time

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

            temperature  windspeed   event
day
2017-01-01          NaN        6.0    Rain
2017-01-04          6.0        9.0   Sunny
2017-01-05          7.0        NaN    Snow
2017-01-06          3.0        7.0     NaN
2017-01-07          NaN        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          1.0        NaN     NaN
2017-01-10          2.0        8.0  Cloudy
2017-01-11          3.0       12.0   Sunny

In [ ]:
df_drop_nan=df.dropna()
print(df)
df_drop_nan

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

         day  temperature  windspeed   event
1 2017-01-04          6.0        9.0   Sunny
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

In [ ]:
df_drop_nan=df.dropna(how='all')
print(df)
df_drop_nan

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny

In [ ]:
#thresh: keep rows with at least K non-NaN values
# Example: thresh=2 means at least 2 columns must be non-missing.
df_drop_thresh2 = df.dropna(thresh=2)

print(df_drop_thresh2)
print("Remaining rows:", len(df_drop_thresh2))

         day  temperature  windspeed   event
0 2017-01-01          NaN        6.0    Rain
1 2017-01-04          6.0        9.0   Sunny
2 2017-01-05          7.0        NaN    Snow
3 2017-01-06          3.0        7.0     NaN
4 2017-01-07          NaN        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          1.0        NaN     NaN
7 2017-01-10          2.0        8.0  Cloudy
8 2017-01-11          3.0       12.0   Sunny
Remaining rows: 9

In [4]:
df=pd.read_csv("weather_data2.csv")
print(df)
print(df.dtypes)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0
day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [3]:
df_1 = df.replace(-99999, np.nan)
df_1

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [7]:
df_5= df.replace(
    {"temperature":r"[A-Za-z]","windspeed":r"[A-Za-z]",},"",regex=True
)
print(df_5)
print(df_5.dtypes)
df_5["temperature"]=pd.to_numeric(df_5["temperature"].astype(str).str.strip(),errors="coerce")
df_5["windspeed"]=pd.to_numeric(df_5["windspeed"].astype(str).str.strip(),errors="coerce")
print(df_5)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0
day            object
temperature     int64
windspeed       int64
event          object
dtype: object
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [8]:
grades = pd.DataFrame({
    "score": ["exceptional", "average", "good", "poor", "average", "exceptional"],
    "student": ["rob", "maya", "parthiv", "tom", "julian", "erica"]
})

print("\n=== Grades dataframe ===")
print(grades)
grades_num = grades.replace(
    ["poor", "average", "good", "exceptional"],
    [1, 2, 3, 4]
)

print(grades_num)

=== Grades dataframe ===
         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica
   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica

/tmp/ipython-input-3502919092.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  grades_num = grades.replace(

In [9]:
X_train = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "age": [23, 45, 31, 35],
    "bp":  [120, 140, 130, 128]
})

X_test = pd.DataFrame({
    "id": [5, 6],
    "age": [29, 50],
    "bp":  [125, 150]
})

y_train = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "target": [0, 1, 0, 1]
})

print("X_train:\n", X_train, "\n")
print("X_test:\n", X_test, "\n")
print("y_train:\n", y_train, "\n")

X_train:
    id  age   bp
0   1   23  120
1   2   45  140
2   3   31  130
3   4   35  128

X_test:
    id  age   bp
0   5   29  125
1   6   50  150

y_train:
    id  target
0   1       0
1   2       1
2   3       0
3   4       1

In [10]:
X_all = pd.concat([X_train, X_test], axis=0)
print("A1) Vertical concat (default axis=0) -> indices are kept:\n", X_all, "\n")

X_all_reset = pd.concat([X_train, X_test], axis=0, ignore_index=True)
print("A1) Vertical concat + ignore_index=True -> clean 0..n-1 index:\n", X_all_reset, "\n")

A1) Vertical concat (default axis=0) -> indices are kept:
    id  age   bp
0   1   23  120
1   2   45  140
2   3   31  130
3   4   35  128
0   5   29  125
1   6   50  150

A1) Vertical concat + ignore_index=True -> clean 0..n-1 index:
    id  age   bp
0   1   23  120
1   2   45  140
2   3   31  130
3   4   35  128
4   5   29  125
5   6   50  150

In [11]:
#   concat with keys: keep origin label (train/test)
#     ML use: track where rows came from while still processing together

X_all_keyed = pd.concat([X_train, X_test], keys=["train", "test"])
print("A2) Vertical concat + keys=['train','test'] -> hierarchical index:\n", X_all_keyed, "\n")

# Access the "train" block easily:
print("A2) Only train slice:\n", X_all_keyed.loc["train"], "\n")

A2) Vertical concat + keys=['train','test'] -> hierarchical index:
          id  age   bp
train 0   1   23  120
      1   2   45  140
      2   3   31  130
      3   4   35  128
test  0   5   29  125
      1   6   50  150

A2) Only train slice:
    id  age   bp
0   1   23  120
1   2   45  140
2   3   31  130
3   4   35  128

In [12]:
#     concat horizontally (axis=1): stack columns side-by-side
#     ML use: combine different feature blocks (e.g., numeric features + embeddings)

# Let's make a second feature block (e.g., derived features)
X_train_extra = pd.DataFrame({
    "bmi": [22.1, 30.5, 25.0, 27.3],
    "chol": [180, 220, 195, 205]
})

# If you do axis=1 concat without aligning indices carefully, it aligns on index.
X_train_wide = pd.concat([X_train, X_train_extra], axis=1)
print("A3) Horizontal concat (axis=1) -> columns added by index alignment:\n", X_train_wide, "\n")

A3) Horizontal concat (axis=1) -> columns added by index alignment:
    id  age   bp   bmi  chol
0   1   23  120  22.1   180
1   2   45  140  30.5   220
2   3   31  130  25.0   195
3   4   35  128  27.3   205

In [15]:
#     Common pitfall: axis=1 concat with mismatched order
#     Fix by setting index to a key before concat, or use merge on the key.

# Shuffle rows to simulate a common real-world issue (different order)
X_train_extra_shuffled = X_train_extra.sample(frac=1, random_state=0).reset_index(drop=True)
print("A4) Shuffled extra features:\n", X_train_extra_shuffled, "\n")

# Bad: axis=1 concat aligns by row index, NOT by "id"
bad_wide = pd.concat([X_train, X_train_extra_shuffled], axis=1)
print("A4) BAD horizontal concat (wrong pairing if row order differs):\n", bad_wide, "\n")

# Good approach 1: set a shared index first (id) then concat axis=1
X_train_idx = X_train.set_index("id")
X_train_extra_idx = X_train_extra.assign(id=X_train["id"]).set_index("id")  # align by id explicitly
good_wide = pd.concat([X_train_idx, X_train_extra_idx], axis=1)
print("A4) GOOD: set index to 'id' then concat axis=1:\n", good_wide, "\n")

A4) Shuffled extra features:
     bmi  chol
0  25.0   195
1  27.3   205
2  30.5   220
3  22.1   180

A4) BAD horizontal concat (wrong pairing if row order differs):
    id  age   bp   bmi  chol
0   1   23  120  25.0   195
1   2   45  140  27.3   205
2   3   31  130  30.5   220
3   4   35  128  22.1   180

A4) GOOD: set index to 'id' then concat axis=1:
     age   bp   bmi  chol
id
1    23  120  22.1   180
2    45  140  30.5   220
3    31  130  25.0   195
4    35  128  27.3   205

In [16]:
#  Basic merge: add label y to features X using 'id'
#     ML use: build training table (X + y) for modeling

train_table = X_train.merge(y_train, on="id", how="inner")
print("B1) X_train merged with y_train on id (inner join):\n", train_table, "\n")

B1) X_train merged with y_train on id (inner join):
    id  age   bp  target
0   1   23  120       0
1   2   45  140       1
2   3   31  130       0
3   4   35  128       1

In [17]:
y_train_missing = pd.DataFrame({"id": [1, 2, 4], "target": [0, 1, 1]})

inner = X_train.merge(y_train_missing, on="id", how="inner")
left  = X_train.merge(y_train_missing, on="id", how="left")
outer = X_train.merge(y_train_missing, on="id", how="outer", indicator=True)

print("B2) INNER (keeps only matching ids):\n", inner, "\n")
print("B2) LEFT  (keeps all X_train ids, target becomes NaN if missing):\n", left, "\n")
print("B2) OUTER + indicator=True (shows row origin via _merge):\n", outer, "\n")

B2) INNER (keeps only matching ids):
    id  age   bp  target
0   1   23  120       0
1   2   45  140       1
2   4   35  128       1

B2) LEFT  (keeps all X_train ids, target becomes NaN if missing):
    id  age   bp  target
0   1   23  120     0.0
1   2   45  140     1.0
2   3   31  130     NaN
3   4   35  128     1.0

B2) OUTER + indicator=True (shows row origin via _merge):
    id  age   bp  target     _merge
0   1   23  120     0.0       both
1   2   45  140     1.0       both
2   3   31  130     NaN  left_only
3   4   35  128     1.0       both

In [18]:
#   Overlapping column names -> suffixes
#     ML use: merging feature tables from different sources may have same column name (e.g., "age")

df_a = pd.DataFrame({"id": [1, 2, 3], "age": [23, 45, 31]})
df_b = pd.DataFrame({"id": [1, 2, 3], "age": [24, 46, 30]})  # "age" overlaps but means something else

merged_suffix = df_a.merge(df_b, on="id", suffixes=("_clinicA", "_clinicB"))
print("B3) Overlapping columns resolved with suffixes:\n", merged_suffix, "\n")

B3) Overlapping columns resolved with suffixes:
    id  age_clinicA  age_clinicB
0   1           23           24
1   2           45           46
2   3           31           30

In [19]:
#    Merge with different key names: left_on / right_on
#     ML use: joining tables that label IDs differently ("patient_id" vs "id")

visits = pd.DataFrame({"patient_id": [1, 2, 2, 4], "visit_count": [3, 1, 2, 5]})

joined = X_train.merge(visits, left_on="id", right_on="patient_id", how="left")
print("B4) Merge on different key names (left_on/right_on):\n", joined, "\n")

B4) Merge on different key names (left_on/right_on):
    id  age   bp  patient_id  visit_count
0   1   23  120         1.0          3.0
1   2   45  140         2.0          1.0
2   2   45  140         2.0          2.0
3   3   31  130         NaN          NaN
4   4   35  128         4.0          5.0

In [20]:
from collections import Counter

Counter(df.temperature)

Counter({32: 2, -99999: 2, 28: 1, 31: 1, 34: 1})