<a href="https://colab.research.google.com/github/Akifhossain29/ML-lab/blob/main/prac_lab_1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [ ]:
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277

In [ ]:
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [ ]:
df["Sea Level PressureIn"]

0     30.03
1     30.02
2     29.86
3     30.05
4     30.57
5     30.50
6     30.28
7     30.20
8     30.16
9     29.59
10    29.92
11    29.85
12    29.94
13    29.95
14    29.82
15    29.52
16    29.78
17    29.83
18    30.03
19    30.13
20    30.15
21    30.21
22    29.77
23    29.92
24    30.25
25    30.03
26    30.03
27    29.90
28    29.58
29    30.01
30    29.90
Name: Sea Level PressureIn, dtype: float64

In [ ]:
df[["EST","Temperature"]].head(3)

        EST  Temperature
0  1/1/2016           38
1  1/2/2016           36
2  1/3/2016           40

In [ ]:
df.iloc[0:4,2:]

,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,23,52,30.03,10,8.0,0,5,NaN,281
1,18,46,30.02,10,7.0,0,3,NaN,275
2,21,47,29.86,10,8.0,0,1,NaN,277
3,9,44,30.05,10,9.0,0,3,NaN,345

In [ ]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [ ]:
df["EST"][df["Events"]=="Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [ ]:
df[["EST","Temperature","VisibilityMiles"]][df["Events"]=="Rain"]

          EST  Temperature  VisibilityMiles
8    1/9/2016           44                9
9   1/10/2016           50                4
15  1/16/2016           47                8
26  1/27/2016           41               10

In [ ]:
df[df['Events']=='Rain']

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311

In [ ]:
df.isnull().sum()

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             3
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [ ]:
df['Sea Level PressureIn'].max()

30.57

In [ ]:
df.fillna(1,inplace=True)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,1,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,1,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,1,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,1,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,1,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,1,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,1,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,1,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,1.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,1.0,0,1,1,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,1,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,1,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,1,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,1,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,1,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,1,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,1,312
21,1/22/2016,26,6,41,30.21,9,1.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,1,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,1,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,1,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,1,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,1,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,1,241

In [ ]:
df.isnull().sum()

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             3
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [ ]:
df.replace(1,np.nan,inplace=True)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10.0,8.0,0,5.0,NaN,281
1,1/2/2016,36,18,46,30.02,10.0,7.0,0,3.0,NaN,275
2,1/3/2016,40,21,47,29.86,10.0,8.0,0,NaN,NaN,277
3,1/4/2016,25,9,44,30.05,10.0,9.0,0,3.0,NaN,345
4,1/5/2016,20,-3,41,30.57,10.0,5.0,0,0.0,NaN,333
5,1/6/2016,33,4,35,30.50,10.0,4.0,0,0.0,NaN,259
6,1/7/2016,39,11,33,30.28,10.0,2.0,0,3.0,NaN,293
7,1/8/2016,39,29,64,30.20,10.0,4.0,0,8.0,NaN,79
8,1/9/2016,44,38,77,30.16,9.0,8.0,T,8.0,Rain,76
9,1/10/2016,50,46,71,29.59,4.0,NaN,1.8,7.0,Rain,109
10,1/11/2016,33,8,37,29.92,10.0,NaN,0,NaN,NaN,289
11,1/12/2016,35,15,53,29.85,10.0,6.0,T,4.0,NaN,235
12,1/13/2016,26,4,42,29.94,10.0,10.0,0,0.0,NaN,284
13,1/14/2016,30,12,47,29.95,10.0,5.0,T,7.0,NaN,266
14,1/15/2016,43,31,62,29.82,9.0,5.0,T,2.0,NaN,101
15,1/16/2016,47,37,70,29.52,8.0,7.0,0.24,7.0,Rain,340
16,1/17/2016,36,23,66,29.78,8.0,6.0,0.05,6.0,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9.0,12.0,T,2.0,Snow,293
18,1/19/2016,22,3,42,30.03,10.0,11.0,0,NaN,NaN,293
19,1/20/2016,32,15,49,30.13,10.0,6.0,0,2.0,NaN,302
20,1/21/2016,31,11,45,30.15,10.0,6.0,0,NaN,NaN,312
21,1/22/2016,26,6,41,30.21,9.0,NaN,0.01,3.0,Snow,34
22,1/23/2016,26,21,78,29.77,NaN,16.0,2.31,8.0,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8.0,6.0,T,3.0,Snow,327
24,1/25/2016,34,18,54,30.25,10.0,3.0,0,2.0,NaN,286
25,1/26/2016,43,29,56,30.03,10.0,7.0,0,2.0,NaN,244
26,1/27/2016,41,22,45,30.03,10.0,7.0,T,3.0,Rain,311
27,1/28/2016,37,20,51,29.90,10.0,5.0,0,NaN,NaN,234
28,1/29/2016,36,21,50,29.58,10.0,8.0,0,4.0,NaN,298
29,1/30/2016,34,16,46,30.01,10.0,7.0,0,0.0,NaN,257
30,1/31/2016,46,28,52,29.90,10.0,5.0,0,0.0,NaN,241

In [ ]:
df.interpolate()

/tmp/ipython-input-4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10.0,8.000000,0,5.0,NaN,281
1,1/2/2016,36,18,46,30.02,10.0,7.000000,0,3.0,NaN,275
2,1/3/2016,40,21,47,29.86,10.0,8.000000,0,3.0,NaN,277
3,1/4/2016,25,9,44,30.05,10.0,9.000000,0,3.0,NaN,345
4,1/5/2016,20,-3,41,30.57,10.0,5.000000,0,0.0,NaN,333
5,1/6/2016,33,4,35,30.50,10.0,4.000000,0,0.0,NaN,259
6,1/7/2016,39,11,33,30.28,10.0,2.000000,0,3.0,NaN,293
7,1/8/2016,39,29,64,30.20,10.0,4.000000,0,8.0,NaN,79
8,1/9/2016,44,38,77,30.16,9.0,8.000000,T,8.0,Rain,76
9,1/10/2016,50,46,71,29.59,4.0,7.333333,1.8,7.0,Rain,109
10,1/11/2016,33,8,37,29.92,10.0,6.666667,0,5.5,NaN,289
11,1/12/2016,35,15,53,29.85,10.0,6.000000,T,4.0,NaN,235
12,1/13/2016,26,4,42,29.94,10.0,10.000000,0,0.0,NaN,284
13,1/14/2016,30,12,47,29.95,10.0,5.000000,T,7.0,NaN,266
14,1/15/2016,43,31,62,29.82,9.0,5.000000,T,2.0,NaN,101
15,1/16/2016,47,37,70,29.52,8.0,7.000000,0.24,7.0,Rain,340
16,1/17/2016,36,23,66,29.78,8.0,6.000000,0.05,6.0,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9.0,12.000000,T,2.0,Snow,293
18,1/19/2016,22,3,42,30.03,10.0,11.000000,0,2.0,NaN,293
19,1/20/2016,32,15,49,30.13,10.0,6.000000,0,2.0,NaN,302
20,1/21/2016,31,11,45,30.15,10.0,6.000000,0,2.5,NaN,312
21,1/22/2016,26,6,41,30.21,9.0,11.000000,0.01,3.0,Snow,34
22,1/23/2016,26,21,78,29.77,8.5,16.000000,2.31,8.0,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8.0,6.000000,T,3.0,Snow,327
24,1/25/2016,34,18,54,30.25,10.0,3.000000,0,2.0,NaN,286
25,1/26/2016,43,29,56,30.03,10.0,7.000000,0,2.0,NaN,244
26,1/27/2016,41,22,45,30.03,10.0,7.000000,T,3.0,Rain,311
27,1/28/2016,37,20,51,29.90,10.0,5.000000,0,3.5,NaN,234
28,1/29/2016,36,21,50,29.58,10.0,8.000000,0,4.0,NaN,298
29,1/30/2016,34,16,46,30.01,10.0,7.000000,0,0.0,NaN,257
30,1/31/2016,46,28,52,29.90,10.0,5.000000,0,0.0,NaN,241

In [ ]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [ ]:
df.loc[0:4]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
df.iloc[0:4]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [ ]:
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [ ]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.set_index('day',inplace=True)
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [ ]:
df.reset_index(inplace=True)
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
df.columns = ['d','t','w','e']
df

          d   t  w      e
0  1/1/2017  32  6   Rain
1  1/2/2017  35  7  Sunny
2  1/3/2017  28  2   Snow
3  1/4/2017  24  7   Snow
4  1/5/2017  32  4   Rain
5  1/6/2017  31  2  Sunny